.page-fade-appear,
.page-fade-enter {
    opacity: 0;
    transform: translateY(10px);
}
.page-fade-appear-active,
.page-fade-enter-active {
    transition: 0.3s ease-in;
    transform: translateY(0px);
    opacity: 1;
}

.page-fade-exit {
    transition: 0.3s ease-out;
    transform: translateY(0px);
    opacity: 1;
}

.page-fade-exit-active {
    opacity: 0;
    transform: translateY(10px);
}
