// Fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';
@import "~react-toastify/dist/ReactToastify";

@import './base/animations';
@import './base/general';

@import './pages/login';


.has-error{
    input{
        border-color: red !important;;
    }
    .MuiFormHelperText-root{
        color: red !important;
    }
}
